@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  transition-duration: 100ms;
  transition-timing-function: ease-out;
  transition-property: none;
}

button:focus {outline:0;}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'SF Pro Text', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.25;
  font-size: 16px;
}

.ScrollbarsCustom-Wrapper {
  inset: 0 !important;
  right: 0 !important;
}

.ScrollbarsCustom-Track {
  z-index: 10000;
  background-color: transparent !important;
}

.ScrollbarsCustom-Thumb {
  width: 6px !important;
  margin-right: auto;
}

.fa::after, .fal::after, .fas::after, .fab::after {
  font-size: inherit;
}

.react-resizable {
  position: relative;
}
.react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.react-resizable-handle::after {
  position: absolute;
  width: 10px;
  height: 10px;
  bottom: 0;
  right: 0;
  content: "";
  box-sizing: border-box;
  border: solid currentColor;
  border-width: 0 2px 2px 0;
  opacity: 0.5;
}
.react-resizable-handle-sw {
  bottom: 0;
  left: 0;
  cursor: sw-resize;
  transform: rotate(90deg);
}
.react-resizable-handle-se {
  bottom: 0;
  right: 0;
  cursor: se-resize;
}
.react-resizable-handle-nw {
  top: 0;
  left: 0;
  cursor: nw-resize;
  transform: rotate(180deg);
}
.react-resizable-handle-ne {
  top: 0;
  right: 0;
  cursor: ne-resize;
  transform: rotate(270deg);
}
.react-resizable-handle-w,
.react-resizable-handle-e {
  top: 50%;
  transform: translateY(-50%);
  cursor: ew-resize;
}
.react-resizable-handle-w {
  left: 0;
  transform: rotate(135deg);
}
.react-resizable-handle-e {
  right: 0;
  transform: rotate(315deg);
}
.react-resizable-handle-n,
.react-resizable-handle-s {
  left: 50%;
  transform: translateX(-50%);
  cursor: ns-resize;
}
.react-resizable-handle-n {
  top: 0;
  transform: rotate(225deg);
}
.react-resizable-handle-s {
  bottom: 0;
  transform: rotate(45deg);
}